
<h1>URL Shortener</h1>

<p> <%=username%> </p>

<form method="POST" action=<%=`/login`%>>
    <p> username: <input type="text" name="username"> </p>
    <input type="submit">
  </form>


<p>
  <a href="#" class="btn btn-primary">Create new Short URL</a>
</p>