
<h1>TinyApp</h1>

<% if (locals.user) { %> <!-- getting this from object we created and past in use as KEy -->

<p> Logged in as: <%=user.email%> </p>
  <form method="POST" action=<%=`/logout`%>>
    <button class="btn btn-primary"> logout </button>
    </form>
  <br/>

<% } else { %>

  <form method="GET" action=<%=`/register`%>>
    <button class="btn btn-primary"> Register </button>
    </form>
    <br/>
 <form method="Get" action=<%=`/login`%>>
    <button class="btn btn-primary"> login </button>
    </form>



<% } %>

<!-- Might not need this bottom section? Check other pages to see if it should be on one of the others -->
<!-- <p>
  <a href="#" class="btn btn-primary">Create new Short URL</a>
</p> -->


<!-- <form method="POST" action=<>
    <p> Username: <input type="text" name="username"> </p>
    <input type="submit" class="btn btn-primary" >
  </form>
    <br/> -->