
<h1>TinyApp</h1>

<% if (locals.user) { %> <!-- getting this from object we created and past in use as KEy -->

<p> Logged in as: <%=user.email%> </p>
  <form method="POST" action=<%=`/logout`%>>
    <button class="btn btn-primary"> logout </button>
    </form>
  <br/>

<% } else { %>

  <form method="GET" action=<%=`/register`%>>

    <p>
      <a href="/login">Login</a>
      |
      <a href="/register">Register</a>
    </p>

<% } %>
